<div class='pleer'><object type="application/x-shockwave-flash" data="ump3player_500x70.swf" height="70" width="470"><param name="wmode" VALUE="transparent" /><param name="allowFullScreen" value="true" /><param name="allowScriptAccess" value="always" /><param name="movie" value="ump3player_500x70.swf" /><param name="FlashVars" value="way=4epe.mp3&amp;swf=ump3player_500x70.swf&amp;w=470&amp;h=70&amp;time_seconds=600&amp;autoplay=1&amp;q=&amp;skin=black&amp;volume=40&amp;comment=" /></object></div>

<table border=0 align="center" width=1000 cellspacing=0 cellpadding=0><tr><td bgcolor="#333333" background="fon.jpg">


<table border=0 align="center" width=1000><tr><td><img src="0.gif" width=5 height=1 border=0><img src="pic/title.gif" width=586 height=244 border=0 title="люблю чай как панда любит бамбук так же как любит Le Truk дуть траву в чайной кухни без обмана нет это не трюк эй поставь чайник на плиту при себе всегда имею десяток грамуль доверься стафу из моих рук и кипятку расфасованный вес или спрессованный круг это ЧАЙНЫЙ ПЬЯНЦА имей в виду"></td><td align="right">
<p class="top1">Решил завязыать? О*уенно!
<br>Но лучше сначала найди замену
<br>Все, что угодно, за ради Бога -
<br>Типа ушу, медитация, йога
<br>Или экстрим, типа паркур, капоэро...
<br>Лично я, чтоб день не казался серым
<br>Предпочитаю оттягиваться,<img src="0.gif" width=100 height=1 border=0>
<br>юзая китайский продукт
<br><a href="#shop" class="mark1" title="Текст выше, кроме этой строчки, не принадлежит ни Гуфу, ни Басте. Чиста стилизация.">Это Чайный пьяница, имей ввиду</a>
<br><img src="pic/arr2.gif" width=180 height=100 border=0 alt="самое интересное, как обычно, снизу" title="самое интересное, как обычно, снизу"
onMouseOver="this.src='pic/arr2-over.gif'" onMouseOut="this.src='pic/arr2.gif'"><img src="0.gif" width=100 height=1 border=0>

</td><td><img src="0.gif" width=10 height=1 border=0></td></tr></table><img src="pic/basta-guf.jpg" width=1000 height=350 border=0><br>

<marquee behavior="scroll" direction="left" scrollamount=2 class='m1'>
Часть химических соединений, входящих состав чая, ещё не идентифицированы, а биохимическая роль некоторых определена лишь в общих чертах. (с) Вика
</marquee>

<table cellspacing=0 cellpadding=0 border=0 align="center" w!idth=1000><tr>
<td><img src="pic/chai.gif" width=400 height=206 border=0  title="Чай - напиток, получаемый варкой, завариванием или настаиванием листа чайного куста, который предварительно подготавливается специальным образом. Чаем также называется сам лист, предназначенный для приготовления этого напитка. Чайный напиток представляет собой сложную комбинацию веществ, оказывающую многоплановое и в целом благотворное воздействие на организм человека. Общее число химических соединений, входящих в его состав, выделенных на конец XX века, составляет около 300, некоторые из них ещё не идентифицированы, а биохимическая роль некоторых из известных определена лишь в общих чертах."></td>
<td><img src="pic/vs.gif" width=98 height=140 border=0 title="Чай против наркотиков! Пиво - против ветра..."></td>
<td><img src="pic/dur.gif" width=406 height=195 border=0  title="Статья 228. Незаконные приобретение, хранение, перевозка, изготовление, переработка наркотических средств, психотропных веществ или их аналогов. 1. Незаконные приобретение, хранение, перевозка, изготовление, переработка без цели сбыта наркотических средств, психотропных веществ или их аналогов в крупном размере - наказываются штрафом в размере до сорока тысяч рублей или в размере заработной платы или иного дохода осужденного за период до трех месяцев, либо исправительными работами на срок до двух лет, либо лишением свободы на срок до трех лет. "></td>
</tr></table>


<table cellspacing=0 cellpadding=0 border=0 align="center"><tr><td>
<p class="top3">Это ведь не наркота, он же не прет,
<br>Ну да, но чай бывает разным
<br>Есть опасные сорта
<br>Я составил тройку лидеров
<br><img src="0.gif" width=200 height=1 border=0>из каких-то соображений
<br>И решил провести некоторые параллели
<br><a href="#shop" class="shop1" title="Намутить Пуэр у чайного дилера">Пуэр</a> я могу сравнить с амфетамином
<br>Я не пью его часто
<br>Он разгоняет меня слишком сильно
<br>Я завариваю термос и беру с собой в машину
<br>И понемногу в течении дня
<br>День бывает длинным
<br>На втором месте у меня <a href="#shop" class="shop1" title="Намутить Те Гуань Инь у чайного дилера">Те Гуань Инь</a>
<br>Он как планчик
<br>Идет как надо за стаканчиком стаканчик
<br>Он так по доброму мягко колпачит
<br>Его можно даже девочкам, но лучше
<br><img src="0.gif" width=200 height=1 border=0>в присутствии мальчиков
<br>и так первую строчку моего хит-парада
<br>Я смело отдаю <a href="#shop" class="shop1" title="Намутить большой красный халат у чайного дилера">большому красному халату</a>
<br>Вот что мне по нраву так это <a href="#shop" class="shop1" title="Намутить Да Хун Пао у чайного дилера">Да Хун Пао</a>
</td></tr></table>

<table cellspacing=0 cellpadding=0 border=0 align="center" width=1000><tr>
<td width=33% valign="bottom"><center><img src="pic/n2.gif" width=53 height=79 border=0></center>
<p class="top3a"><b>Те Гуань Инь</b> - "железная богиня милосердия". Улунский чай. Хитрые китайцы наловчились так их сушить, что края листа получаются, как у черного чая, а середина - как у зеленого. Был чаевод по имени Вэй Инь. Он наливал улунского чая, посвященного богини Гуань Инь, каждое утро и вечер. Через десять лет ему приснилось, что на горном утесе есть дерево, дающее дуновение странного аромата. На следующий день он взобрался на гору и нашел чайное дерево из своего сна. С тех пор богиня появлялась в его снах, и тогда люди прозвали дерево "Железной Гуань Инь". Говорят, скрученный листик Те Гуань Инь напоминает голову взлетающего дракона, стало быть любители чая <b>Те Гуань Инь</b> драконов видели.<br>
<center><a href="pic/teguanin-big.jpg" class='foto'><img src="pic/teguanin.gif" width=300 height=300 border=0 alt="Те Гуань Инь - железная богиня милосердия" title="Те Гуань Инь - железная богиня милосердия" onMouseOver="this.src='pic/teguanin-over.gif'" onMouseOut="this.src='pic/teguanin.gif'"></a></center>
</td>
<td width=33% valign="bottom"><center><img src="pic/n1.gif" width=50 height=82 border=0></center>
<p class="top3a"><b>Да Хун Пао</b>, "большой красный халат" - тоже улун. Края листа окисленные, а середина хранит все, что было в листе от природы. Есть легенда, что мать императора династии Тан была исцелена чаем с гор Уи. И в знак благодарности император повелел облачить чайные кусты в большие красные халаты. Судя по всему, кусты выжили. Еще рассказывают, что монахи выдрессировали местных горных обезьян, приучив их к сбору чайного листа в тяжелых условиях высокогорий. Кусты Да Хун Пао растут на скальных утесах, сейчас лист собирают с пожарных лестниц. А чтобы голодные крестьяне этих обезьянок не сожрали, то каждой нацепили маленький красный халат.<br>
Скорее всего дело в том, что верхние листочки этих кустов имеют красноватый оттенок, так что халаты на кустах вполне могли померещилиться какому-нибудь неумеренному любителю чая <b>Да Хун Пао</b>. Я вот однажды видел памятник Юрию Долгорукому в шубе.<br><img src="0.gif" width=1 height=10 border=0><br>
<center><a href="pic/dahunpao-big.jpg" class='foto'><img src="pic/dahunpao.gif" width=300 height=300 border=0 alt="Да Хун Пао, большой красный халат" title="Да Хун Пао, большой красный халат" onMouseOver="this.src='pic/dahunpao-over.gif'" onMouseOut="this.src='pic/dahunpao.gif'"></a></center>
</td>
<td width="33%" valign="bottom"><center><img src="pic/n3.gif" width=50 height=98 border=0></center>
<p class="top3a"><b>Пуэр</b> проясняет голову сильнее, чем кофе и другие чаи. Пить его перед сном не стоит, если собираешься спать в банальном смысле слова. По вкусу он не похож ни на черный чай, ни на зеленый, вообще ни на что не похож. Говорят, имеет земляной запах. При приготовлении он преет специальным китайским способом, в результате отличается от обычного чая, как пиво от кваса. Пьем, разгоняемся, заодно к земле привыкаем. Лучшие сорта пуэра продают в прессованном виде - круги, кирпичи, чаши и прочее.<br>
<center><a href="pic/puer-big.jpg" class='foto'><img src="pic/puer.gif" width=300 height=300 border=0 alt="Пуэр. Он разгоняет меня слишком сильно" title="Пуэр. Он разгоняет меня слишком сильно" onMouseOver="this.src='pic/puer-over.gif'" onMouseOut="this.src='pic/puer.gif'"></a></center>
</td>
</tr></table>
<img src="0.gif" width=1 height=2 border=0>


<table cellspacing=0 cellpadding=0 border=0 align="center" width=1000 background="pic/fon-wall.jpg">
<tr>
<td width="100%" colspan=4><img src="0.gif" width=1000 height=1 border=0><a href="#" name="shop"></a>
<h2><b>ЧП - твой чайный дилер.</b> Реальные цены, конкретный стаф, никакого палева!</h1>
</td>
</tr>
<tr>
<td width="33%" align="center"><img src="0.gif" width=330 height=1 border=0><br>

<table cellspacing=0 cellpadding=5 border=0>
<tr>
<td class="to3a" valign="top">
<b>Те Гуань Инь (Высшей категории)</b><br>
фасуем от 100 г., 450 р
</td>
<td>&nbsp;</td>
<td>
<form accept-charset="UTF-8" action="/cart" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="52CB3bZN7MDSeDbzeEb9xfngWz7xrNl9GWkR20tE+4k=" /></div>
<input id="product" name="product" type="hidden" value="16" />
<select id='ammount' name='amount'>
<option value='0'>0</option>
<option value='1'>1</option>
<option value='2'>2</option>
<option value='3'>3</option>
<option value='4'>4</option>
<option value='5'>5</option>
<option value='6'>6</option>
<option value='7'>7</option>
<option value='8'>8</option>
<option value='9'>9</option>
</select>

</form>
</td>
</tr>
<tr>
<td class="to3a" valign="top">
<b>Те Гуань Инь (I кат.)</b><br>
от 100 г., 350 р
</td>
<td>&nbsp;</td>
<td><form accept-charset="UTF-8" action="/cart" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="52CB3bZN7MDSeDbzeEb9xfngWz7xrNl9GWkR20tE+4k=" /></div>
<input id="product" name="product" type="hidden" value="16" />
<select id='ammount' name='amount'>
<option value='0'>0</option>
<option value='1'>1</option>
<option value='2'>2</option>
<option value='3'>3</option>
<option value='4'>4</option>
<option value='5'>5</option>
<option value='6'>6</option>
<option value='7'>7</option>
<option value='8'>8</option>
<option value='9'>9</option>
</select>

</form>
</td>
</tr>
<tr>
<td class="to3a" valign="top">
<b>Те Гуань Инь Ван</b><br>
от 100&nbsp;г., 820 р
</td>
<td>&nbsp;</td>
<td><form accept-charset="UTF-8" action="/cart" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="52CB3bZN7MDSeDbzeEb9xfngWz7xrNl9GWkR20tE+4k=" /></div>
<input id="product" name="product" type="hidden" value="16" />
<select id='ammount' name='amount'>
<option value='0'>0</option>
<option value='1'>1</option>
<option value='2'>2</option>
<option value='3'>3</option>
<option value='4'>4</option>
<option value='5'>5</option>
<option value='6'>6</option>
<option value='7'>7</option>
<option value='8'>8</option>
<option value='9'>9</option>
</select>

</form>
</td>
</tr>
</table>

</td>
<td width="33%" align="center"><img src="0.gif" width=330 height=1 border=0><br>

<table cellspacing=0 cellpadding=5 border=0>
<td class="to3a" valign="top">
<b>Да Хун Пао</b><br>
фасуем от 100 г.,<br>
520 р
</td>
<td>&nbsp;</td>
<td><form accept-charset="UTF-8" action="/cart" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="52CB3bZN7MDSeDbzeEb9xfngWz7xrNl9GWkR20tE+4k=" /></div>
<input id="product" name="product" type="hidden" value="16" />
<select id='ammount' name='amount'>
<option value='1'>1</option>
<option value='2'>2</option>
<option value='3'>3</option>
<option value='4'>4</option>
<option value='5'>5</option>
<option value='6'>6</option>
<option value='7'>7</option>
<option value='8'>8</option>
<option value='9'>9</option>
<option value='0'>0</option>
</select>

</form>
</td>
</tr></table>

</td>
<td width="33%" align="center"><img src="0.gif" width=330 height=1 border=0><br>

<table cellspacing=0 cellpadding=5 border=0>
<tr>
<td class="to3a" valign="top">
<b>Прессованный Пуэр Сяо То</b><br>
фасуем от 100&nbsp;г., 120 р
</td>
<td>&nbsp;</td>
<td><form accept-charset="UTF-8" action="/cart" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="52CB3bZN7MDSeDbzeEb9xfngWz7xrNl9GWkR20tE+4k=" /></div>
<input id="product" name="product" type="hidden" value="16" />
<select id='ammount' name='amount'>
<option value='0'>0</option>
<option value='1'>1</option>
<option value='2'>2</option>
<option value='3'>3</option>
<option value='4'>4</option>
<option value='5'>5</option>
<option value='6'>6</option>
<option value='7'>7</option>
<option value='8'>8</option>
<option value='9'>9</option>
</select>

</form>
</td>
</tr>
<tr>
<td class="to3a" valign="top">
<b>Белый Пуэр</b><br>
прессованный круг, 390&nbsp;г., 3700 р
</td>
<td>&nbsp;</td>
<td><form accept-charset="UTF-8" action="/cart" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="52CB3bZN7MDSeDbzeEb9xfngWz7xrNl9GWkR20tE+4k=" /></div>
<input id="product" name="product" type="hidden" value="16" />
<select id='ammount' name='amount'>
<option value='0'>0</option>
<option value='1'>1</option>
<option value='2'>2</option>
<option value='3'>3</option>
<option value='4'>4</option>
<option value='5'>5</option>
<option value='6'>6</option>
<option value='7'>7</option>
<option value='8'>8</option>
<option value='9'>9</option>
</select>

</form>
</td>
</tr>
<tr>
<td class="to3a" valign="top">
<b>Прессованный Пуэр (кирпич)</b><br>
50 г., 200 р.
</td>
<td>&nbsp;</td>
<td><form accept-charset="UTF-8" action="/cart" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="52CB3bZN7MDSeDbzeEb9xfngWz7xrNl9GWkR20tE+4k=" /></div>
<input id="product" name="product" type="hidden" value="16" />
<select id='ammount' name='amount'>
<option value='0'>0</option>
<option value='1'>1</option>
<option value='2'>2</option>
<option value='3'>3</option>
<option value='4'>4</option>
<option value='5'>5</option>
<option value='6'>6</option>
<option value='7'>7</option>
<option value='8'>8</option>
<option value='9'>9</option>
</select>

</form>
</td>
</tr><tr>
<td class="to3a" valign="top">
<b>Пуэр</b><br>
от 50 г., 150&nbsp;р.
</td>
<td>&nbsp;</td>
<td><form accept-charset="UTF-8" action="/cart" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="52CB3bZN7MDSeDbzeEb9xfngWz7xrNl9GWkR20tE+4k=" /></div>
<input id="product" name="product" type="hidden" value="16" />
<select id='ammount' name='amount'>
<option value='0'>0</option>
<option value='1'>1</option>
<option value='2'>2</option>
<option value='3'>3</option>
<option value='4'>4</option>
<option value='5'>5</option>
<option value='6'>6</option>
<option value='7'>7</option>
<option value='8'>8</option>
<option value='9'>9</option>
</select>

</form>
</td>
</tr>
</table>

</td>
<td><img src="0.gif" width=9 height=1 border=0></td>
</tr>
<tr>
<td width="100%" colspan=4 class="to4">

<form accept-charset="UTF-8" action="/purchases" class="new_purchase" id="new_purchase" method="post"><div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="&#x2713;" /><input name="authenticity_token" type="hidden" value="52CB3bZN7MDSeDbzeEb9xfngWz7xrNl9GWkR20tE+4k=" /></div>

<label for="purchase_u_name"><b>Имя</b></label>
<input id="purchase_u_name" name="purchase[u_name]" size="30" type="text"  style="font:10px;  font-family: Arial, Helvetica, Sans-serif; color:#аааа00;background:#ffff99;"/>

<label for="purchase_u_mail"><b>Мыло, телефон</b></label>

<input id="purchase_u_mail" name="purchase[u_mail]" size="30" type="text"  style="font:10px;  font-family: Arial, Helvetica, Sans-serif; color:#аааа00;background:#ffff99;"/>
<br>
<label for="purchase_address"><b>Куда подогнать</b></label>

<textarea cols="80" id="purchase_address" name="purchase[address]" rows="3" style="font:10px;  font-family: Arial, Helvetica, Sans-serif; color:#аааа00;background:#ffff99;" ></textarea>


<input id="purchase_submit" name="commit" type="submit" style="padding:3px;font:16px bold Arial; font-weight: bold; font-family: Arial, Helvetica, Sans-serif;color:#dddd00;background:#111111;" value="Намутить" />
</form>
</td>
</tr>
</table>


<table cellspacing=0 cellpadding=0 border=0 align="center" width=1000><tr>
<td valign="top"  class="eroport"><img src="0.gif" width=10 height=1 border=0></td><td class="eroport">
<br />Прохожу досмотр в аэропорту
<br />Ваш рюкзак, так, что у вас тут?
<br />Понятые, досмотр, короче весь замут
<br />Капитан по рации рапортует: Нашли наркоту.
<br />Вся эта история собирает толпу,
<br />Капитан извлекает из рюкзака траву, а там
<br />Прикинь, ТГшка, пуэрчик, да хун
<br />И мне нечего сказать этому лоху.
<br />(Марихуана?) Я чувствую: тону,
<br />Хочешь, курни. Я отсыплю и отломлю
<br />Я этой отравы тебе сам забью в папиросу,
<br />Просто курни капитан, к чему вопросы?
<br />Он не разделил мое настроение, и мы
<br />Проследовали в линейное отделение.
<br />Там собрался целый консилиум
<br />Нюхают, жуют. Хотят закрыть Василия.
<br />Да растет. Да сушат. Да фасуют.
<br />Для употребления используют специальную посуду.
<br />Хотите сделать это дело подсудным?
<br />Статья 228 по специальным чайным подпунктам?
<br />Конфискация яда, я до Е-бурга
<br />Слава Богу, там есть люди, намутили пресс круга.
<br />В Москве по прилету я в линейную управу
<br />Че капитан, продигустировали отраву?&nbsp;
<br />А он на легком сушнячке, глаза как будто&nbsp;
<br />Целый день курил ташкент (курил ташкент).
<br />Я насчет чая, точнее насчет его возврата
<br />А он мне шепотом: Чая нету, делся куда-то.
</td><td class="eroport">
<img src="pic/ment.gif" width=400 height=481 border=0 onMouseOver="this.src='pic/ment-over.gif'" onMouseOut="this.src='pic/ment.gif'" alt="Чудовищно-полицейские преобразования" title="Чудовищно-полицейские преобразования">
</td>
</tr>
</table>

<table cellspacing=0 cellpadding=0 border=0 align="center" width=1000><tr>
<td w!idth=33% valign="top">

<a href="pic/bufet-big.jpg" class='foto'><img src="pic/bufet.gif" width=485 height=527 border=0 onMouseOver="this.src='pic/bufet-over.jpg'" onMouseOut="this.src='pic/bufet.gif'"  alt="Подробнее!!!" title="Подробнее!!!"></a>


</td>
<td w!idth=33% class="bufet">
<br />Нашего брата не очень
<br><img src="0.gif" width=80 height=1 border=0>любят на пищевых точках,
<br />- Официантка, родная,
<br><img src="0.gif" width=80 height=1 border=0>можно графинчик кипяточка?
<br />- Еще кипяточка, еще кипяточка
<br />- Заказывать что-нибудь будете?
<br />- Нет, просто кипяточка.
</td>
</tr>
</table>



<br><br><br><br><br><br><br>

<table cellspacing=0 cellpadding=0 border=0 align="center" wi!dth=1000><tr>
<td w!idth=33% valign="top"  class="eroport">

<div class="sts-c"><span style="text-decoration: underline;"><strong>Гуф</strong>:</span>
<br />Вы бы видели, как раньше вел себя на гастролях
<br />Горы травы плюс море алкоголя.
<br />После концерта всей толпой айда в мой номер,
<br />И на следующий день в другом городе выступать с перепоя.
<br />Сейчас люди не понимают, что это такое
<br />Когда я отказываюсь от дудки, он че гонит?
<br />Я вам открою секрет, это не сила воли
<br />Я, так сказать, пересел на кое-что другое.
<br />Так что моя милиция может спать спокойно
<br />Леша больше не курит, вообще, внатуре
<br />Лучше дайте мне чайник с горячей водой
<br />Или давайте я сам, просто покажите, где здесь кулер
<br />И хули, теперь у меня в чемодане ничего запрещенного
<br />Только добрый запас чая.
<br />И когда я прилетаю в другие города,
<br />Мне нужна только розетка, вода пока была всегда.
<br />Это ведь не наркота, он же не прет? Ну да
<br />Но чай бывает разным, есть опасные сорта.
<br />Я составил тройку лидеров из каких-то соображений
<br />И решил провести некоторые параллели.
<br />Пуэр я могу сравнить с амфитамином
<br />Я не пью его часто, но разгоняет меня слишком сильно.
<br />Я завариваю термос и беру с собой в машину
<br />И понемногу в течение дня, день бывает длинным.
<br />На втором месте у меня Те Гуань Инь, он как планчик
<br />Идет как надо, за стаканчиком стаканчик.
<br />Он так по-доброму, мягко колпачит
<br />Его можно даже девочкам, но лучше в присутствии мальчика.
<br />Итак, первую строчку моего хит-парада
<br />Я смело отдаю большому красному халату.
<br />Вот что мне по нраву, так это &ndash; да хун пао
<br />Чайный пьяница здесь, Вася, доставай отраву.
<br />
<br /><span style="text-decoration: underline;"><strong>Баста</strong>: (Припев)</span>
<br /><em>Люблю чай, как панда любит бамбук
<br />Также как любит Le Truk дуть траву.
<br />В чайной прухе без обмана, нет, это не трюк
<br />Поставь чайник на плиту.
<br />При себе всегда имею десяток граммуль,
<br />Доверься стафу из моих рук, как кипятку
<br />Расфасованный вес или спрессованный круг
<br />Это чайный пьяница.</em>
<br />
<br /><span style="text-decoration: underline;"><strong>Баста</strong>:</span>
<br />Ну че, Васяня, присядем?
<br />Есть малеха да хун пао, пуэрчика и шуйсяня.
<br />Куришь? Не куришь? Красава
<br />Я тоже бросаю. Шучу. Просто &hellip; в ларек, да и вставило неслабо.
<br />Сколько по стране развелось чайной пьяни
<br />Заваривается стафф и и без гайваней?
<br />На какой-нибудь прибитой хате
<br />Плитка, кастрюлька, заряд и по полной бухать.
<br />Нашего брата не очень любят на пищевых точках,
<br />Официантка, родная, можно графинчик кипяточка?
<br />Еще кипяточка, еще кипяточка
<br />Заказывать что-нибудь будете? Нет, просто кипяточка.
<br />Прохожу досмотр в аэропорту
<br />Ваш рюкзак, так, что у вас тут?
<br />Понятые, досмотр, короче весь замут
<br />Капитан по рации рапортует: Нашли наркоту.
<br />Вся эта история собирает толпу,
<br />Капитан извлекает из рюкзака траву, а там
<br />Прикинь, ТГшка, пуэрчик, да хун
<br />И мне нечего сказать этому лоху.
<br />(Марихуана) Я чувствую: тону,
<br />Хочешь, курни. Я отсыплю и отломлю
<br />Я этой отравы тебе сам забью в папиросу,
<br />Просто курни капитан, к чему вопросы?
<br />Он не разделил мое настроение, и мы
<br />Проследовали в линейное отделение.
<br />Там собрался целый консилиум
<br />Нюхают, жуют. Хотят закрыть Василия.
<br />Да растет. Да сушит. Да фасует.
<br />Для употребления используют специальную посуду.
<br />Хотите сделать это дело подсудным?
<br />Статья 228 по специальным чайным подпунктам?
<br />Конфискация яда, яда и бурга
<br />Слава Богу, там есть люди, намутили пресс круга.
<br />В Москве по прилету я в линейную управу
<br />Че капитан, продигустировали отраву?&nbsp;
<br />А он на легком сушнячке, глаза как будто&nbsp;
<br />Целый день курил ташкент (курил ташкент).
<br />Я насчет чая, точнее насчет его возврата
<br />А он мне шепотом: Чая нету, делся куда-то.
<br />
<br /><span style="text-decoration: underline;"><strong>Баста</strong>:&nbsp;(Припев)</span>
<br /><em>Люблю чай, как панда любит бамбук
<br />Также как любит Le Truk дуть траву.
<br />В чайной прухе без обмана, нет, это не трюк
<br />Поставь чайник на плиту.
<br />При себе всегда имею десяток граммуль,
<br />Доверься стафу из моих рук, как кипятку
<br />Расфасованный вес или спрессованный круг
<br />Это чайный пьяница, имей ввиду
<br />
<br />Люблю чай, как панда любит бамбук
<br />Также как любит Le Truk дуть траву.
<br />В чайной прухе без обмана, нет, это не трюк
<br />Поставь чайник на плиту.
<br />При себе всегда имею десяток граммуль,
<br />Доверься стафу из моих рук, как кипятку
<br />Расфасованный вес или спрессованный круг
<br />Это чайный пьяница, имей ввиду</em></div>
</td></tr></table>
<br>

<table cellspacing=0 cellpadding=0 border=0 align="center" width=1000 background="pic/fon-wall.jpg">
<tr><td><img src="0.gif" width=1000 height=13 border=0>
</td></tr></table><img src="0.gif" width=1 height=30 border=0><br>

<a href="http://dr-vo.com/" target="_blank"><img src="pic/sign.gif" width=428 height=78 border=0 align="right" alt="Дизайн, креатифф - dr.Vo" title="Дизайн, креатифф - dr.Vo"></a>
<br clear="all"><br><br>
</td></tr></table>
