Заказ прошел.

Опустоши сознание и жди звонка от дилера. Свяжусь сегодня-завтра, на крайняк - мылом.

В случае чего, можесь сам набрать +7 985 412 76 67

Подогнать надо
- @purchase.cart_items.each do |item|
 #{item.amount} - #{item.product.andand.name}

по адресу
#{@purchase.address}
