<!DOCTYPE html>
<html>
<head>
 <title>Чайный пьяница - ЧП - дилер чая. Реальные цены, конкретный стаф, никакого палева.</title>
 <meta name="keywords" CONTENT="">
 <meta name="Description" CONTENT="">
 <meta name="author" content="dr.Vo">
 <meta http-equiv="pragma" content="no-cache">
 <meta name="robots" content="ALL">
 <meta name="language" content="russian">
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

  <%= stylesheet_link_tag "style.css" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
 <link rel="shortcut icon" href="che-pe.ico" />
 <!-- Arquivos utilizados pelo jQuery lightBox plugin -->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/jquery.lightbox-0.5.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/jquery.lightbox-0.5.css" media="screen" />
 <!-- / fim dos arquivos utilizados pelo jQuery lightBox plugin -->
    
 <!-- Ativando o jQuery lightBox plugin -->
  <script type="text/javascript">
   $(function() {
    $('a.foto').lightBox();
   });
  </script>
 
</head>
<body bgcolor="#000000">

<%= yield %>

</body>
</html>
